:root {
    --color-1: #000000;
    --color-2: #101010;
    --color-3: #ffffff;
    --color-4: #fafafa;
    --color-5: #f1f1f1;
    --color-6: #d87d4a;
    --color-7: #fbaf85;
    --color-8: #808080;
    --color-9: #cfcfcf;
}
